<a href="https://colab.research.google.com/github/1010210/Analisis-de-datos/blob/main/LabPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
students = [('Ana',23,'San Jose','A'),
            ('Esteban',23,'San Jose','B'),
            ('Juan',22,'San Jose','A'),
            ('Karla',22,'San Jose','A'),
            ('Ernesto',21,'San Jose','B')
            ]

df = pd.DataFrame(students, columns =['Nombre','Edad','Ciudad','Seccion'])    
print(df)


print("___________________________________")

def buscar_por_columna(df, columna):
    return df.loc[:, columna]


edad = buscar_por_columna(df, 'Edad')
print(edad)


print("___________________________________")

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    23  San Jose       B
2     Juan    22  San Jose       A
3    Karla    22  San Jose       A
4  Ernesto    21  San Jose       B
___________________________________
0    23
1    23
2    22
3    22
4    21
Name: Edad, dtype: int64
___________________________________

In [ ]:
def getIndexes(dfObj,value):
    listOfPos = []
    result = dfObj.isin([value])
    seriesObj  = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)

    for col in columnNames:
          rows = list(result[col][result[col] == True].index)
     
          for row in rows:
             listOfPos.append((row,col))

    return listOfPos

listOfPositions = getIndexes(df,'A')
print("Index positions of 22 in dataframe")
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

Index positions of 22 in dataframe
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')

Reto: Vamos a extraer cuantas transacciones interbancarias e intrabancarias fueron realizadas mediante SINPE en enero del 2022.
Integrantes:
Andres Cabezas Vizcaino,
Treicy Leon Zuniga,
Andres Rojas,
Alejandro Barrantes.